<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{title.home}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/home.ico}"/>
</head>
  
<body>
<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-6 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-user"></i></div>
                <div class="name"><strong class="text-uppercase">Total User</strong>
                  <div class="count-number" th:text="${user}"></div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-6 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-padnote"></i></div>
                <div class="name"><strong class="text-uppercase">Total Post</strong>
                  <div class="count-number" th:text="${post}"></div>
                </div>
              </div>
            </div>
           </div>
        </div>
      </section>
      
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>