<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="gheader">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	<!-- Title-->
    <!-- <title>Login</title> -->
    <!-- Favicon-->
	<!-- <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}"/> -->
	
	<!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" th:href="@{/css/fontastic.css}"/>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <!-- jQuery Circle-->
    <link rel="stylesheet" th:href="@{/css/grasp_mobile_progress_circle-1.0.0.min.css}"/>
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}"/>
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet"/>
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    
    <!-- Javascript files-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper.js/umd/popper.min.js}"> </script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/grasp_mobile_progress_circle-1.0.0.min.js}"></script>
    <script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}"> </script>
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
    
    
    <!-- data table -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
    
    <!-- Main File-->
    <script th:src="@{/js/front.js}"></script>
    
    <!-- select 2 file -->
    <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}"/>
	<script th:src="@{/js/select2/select2.min.js}"></script>
	
	<style type="text/css">
	
		td, th {
		  white-space: nowrap;
		  overflow: hidden;
		}
		.top-alert {
		  position: fixed;
		  top: 0px;
		  width: 100%;
		  z-index: 100000;
		  left: 0;
		  padding: 20px;
		  display: inline-block;
		  text-align: center;
		}
		.top-alert .alert {
		  width: auto !important;
		  height: 100%;
		  display: inline;
		  position: relative;
		  margin: 0;
		}
		.top-alert .alert .close {
		  color: inherit;
		}
		
		.action{
			text-align: center;
			cursor: pointer;
		}
		
		.error-msg{
		 font-size: 9px;
		 font-style: italic;
		 text-align: right;
		 }
		 
		 .table {
		    /* table-layout: fixed;
		    word-wrap: break-word; */
		    font-size: 10px;
		}
		
		.select2-selection__rendered {
		  line-height: 25px !important;
		  /* font-family: Arial, Helvetica, sans-serif; */
  		  font-size: 10px;
		}
		
		.select2-selection {
		  height: 25px !important;
		}
		
		.select2-results__option { 
		  font-size: 8px;
		}
		
		
	</style>
	
	
</head>
</html>