<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{title.login}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/login.ico}"/>
</head>

<body>
	<div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
        
          <div class="form-inner">
            <div class="logo text-uppercase"><span th:text="#{txt.companyname.first}">company</span>&nbsp;
            <strong th:text="#{txt.companyname.second}" class="text-primary">Name</strong></div>
            <p>__________________________________________________________________________</p>
            <p>______________________________________________________</p>
            <div class="logo text-uppercase"><strong th:text="#{title.login}" class="text-danger">login</strong></div>
            
            <form th:action="@{/login}" method="POST">
              <div class="form-group-material">
                <input type="text" name="email" class="input-material" id="login-username" required="required" />
                <label th:text="#{txt.username}" for="login-username" class="label-material">un</label>
              </div>
              <div class="form-group-material">
                <input id="login-password" type="password" name="password" required="required" class="input-material"/>
                <label th:text="#{txt.password}" for="login-password" class="label-material">ps</label>
              </div>
              <!-- <a id="login" href="index.html" class="btn btn-primary">Login</a> -->
              <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              <div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;" th:text="#{message.invalid.uer.pass}">invalid</p>
			  </div>
              <button th:text="#{btn.signin}" type="submit" id="login" class="btn btn-primary">SN</button>
            </form>
            
            <!-- <a href="#" class="forgot-pass">Forgot Password?</a> -->
            <!-- <small>Do not have an account? </small><a href="/registration" class="signup">Signup</a> -->
          </div>
          
          <div class="copyrights text-center">
            <p>Design by <a href="https://www.facebook.com/chabedalam.paran" class="external"><span th:text="#{developer.name}">name</span></a> <span th:text="#{developer.mobile}">mobile</span></p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>